body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(162, 12, 12, 0.42), #0095af);
    background-attachment: fixed;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}

.hrStyle {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.loading {
    margin: 0 auto;
    display: block;
}

.navbar-brand:hover {
    color: #9d9d9d !important;
}
