.basicForm {
    width: 40%;
}

.advancedPrompt {
    margin-top: 15px;
}

.advancedPrompt a {
    color: #25FF00;
    font-weight: bold;
    cursor: pointer;
}

.resultLabel {
    color: #CECECE;
}

.resultsWrapper {
    background-color: rgba(82, 82, 82, 0.18);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
}
