<div ng-show="!search.advancedLookup">
    <h3>Search Students by Name</h3>
    <form ng-submit="search.doLookup()" class="basicForm">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search.lookup.name" placeholder="Name">
            <div class="input-group-btn">
                <input type="submit" value="Send" class="btn btn-default">
            </div>
        </div>
    </form>
    <div class="searchPrompt">No luck? Try the <a ng-click="search.toggleAdvanced()">Advanced</a> search</div>
</div>
<div ng-show="search.advancedLookup">
    <h3>Advanced Search</h3>
    <form ng-submit="search.doAdvancedLookup()">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="search.advanced.name">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="netId">Net ID</label>
                    <input type="text" class="form-control" id="netId" placeholder="Net ID" ng-model="search.advanced.netId">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="dormName">Dorm Name</label>
                    <input type="text" class="form-control" id="dormName" placeholder="Dorm Name" ng-model="search.advanced.dormName">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="major">Major</label>
                    <input type="text" class="form-control" id="major" placeholder="Major" ng-model="search.advanced.major">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="groups">Group</label>
                    <input type="text" class="form-control" id="groups" placeholder="Group" ng-model="search.advanced.groups">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" ng-model="search.advanced.email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block searchSubmit">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <div class="searchPrompt">Back to the <a ng-click="search.toggleAdvanced()">Basic</a> search</div>
</div>
<hr>
<img class="loading" src="assets/loading/loading.svg" alt="" ng-show="search.loading">
<div class="resultsWrapper" ng-show="!!search.results">
    <div ng-repeat="result in search.results">
        <h2><a href="#/user/{{result.netId}}" class="resultLink">{{result.name}}</a></h2>
        <div class="row">
            <div class="col-md-5">
                <span class="resultLabel">Net ID: </span><span>{{result.netId}}</span>
            </div>
            <div class="col-md-7">
                <span class="resultLabel">Email: </span><span>{{result.email}}</span>
            </div>
            <div class="col-md-5">
                <span class="resultLabel">Major: </span><span>{{result.major}}</span>
            </div>
            <div class="col-md-7">
                <span class="resultLabel">Graduating Class: </span><span>{{result.gradClass}}</span>
            </div>
        </div>
    </div>
</div>
